﻿body {
    margin: 0;
    background: #F9F9F9;
}

@font-face {
    font-family: Roboto;
    src: url('roboto.ttf');
}

.left-nav {
    height: 100vh;
    width: 20vw;
    min-width: 300px;
    max-width: 400px;
    border-right: 1px solid #EAEAEA;
}

.nav-title {
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
    user-select: none;
    font-family: Roboto;
    font-size: 20pt;
}

.nav-title span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav-upper {
    display: flex;
    flex-direction: row;
}

.nav-upper span {
    display: block;
    flex: 1;
    text-align: center;
    font-family: Roboto;
    font-size: 12pt;
    line-height: 40px;
    padding: 0px 10px;
    background: #EAEAEA;
    user-select: none;
    transition: background-color 0.3s ease-in-out;
}

.nav-upper span:hover {
    cursor: pointer;
    background-color: #F3F3F3;
}