﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>ServeMC</title>
    <link rel="stylesheet" type="text/css" href="webfile/mainstyle.css">
</head>
<body>
    <div class="left-nav">
        <div class="nav-title"><span>ServeMC</span></div>
        <div class="nav-upper">
            <span id="connManager">Servers</span>
            <span id="currentManager">{{server_name}}</span>
        </div>
    </div>
</body>
</html>